@tailwind base;
@tailwind components;
@tailwind utilities;

section.footer-links > * {
     display: inline-block;
     @apply mr-2
}
*{
     box-sizing: border-box;
}
span.news-text{
     left: 50%;
     transform: translateX(-50%);
     background-color: rgba(0,0,0,0.5);
      }
form > div:not(.checkbox) {
     @apply w-10/12 relative mx-auto my-4
}
form > div > label {
     @apply  absolute top-0 left-4 transform -translate-y-1/2 bg-white px-2
}
form > div > input:not(.checkbox), button {
     @apply w-full h-12 border text-center
}
form > div > p.error {
     @apply text-red-500 text-sm font-semibold
}
form > div > *:not(.checkbox) {
     @apply block
}
div.checkbox{
     @apply w-10/12 flex mx-auto items-center -mt-2
}